.img{
    width: 300px;
    height: 200px;
    border: 1px solid black;
}
body {
    background-color: lightblue;
}
.miLista {
    list-style-type: decimal;
    font-family: Arial, sans-serif;
    color: blue;
}